               <div class="post-preview">
                  <p class="post-meta"><a href="{{ .Permalink }}">{{ .Title }}</a> on {{ dateFormat .Site.Params.DateForm .Date }}
                    <br />
                    {{ if isset .Params "categories" }}
                        {{ partial "categories.html" .}}
                        <br />
                    {{ end }}
                    
                    {{ if isset .Params "tags" }}
                        {{ partial "tags.html" .}}
                    {{ end }}
                  </p>
               </div>
