               <div class="post-preview">
                 <a href="{{ .Permalink }}">
                      <h2 class="post-title">{{ .Title }}</h2>
                      {{ if ne .Params.Title .Params.Description }}
                      <h3 class="post-subtitle">{{ .Description }}</h3>
                      {{ end }}
                    </a>
                    <p class="post-meta">Posted on {{ dateFormat .Site.Params.DateForm .Date }}

                    {{ if isset .Params "tags" }}
                        <br />
                        {{ partial "tags.html" .}}
                    {{ end }}

                  </p>
                </div>
                <hr>
