      <div class="container">
        <div class="row">
           <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
             <div class="post-heading">
               <h1>{{ .Title }}</h1>
               {{ if ne .Title .Description }}
               <h2 class="subheading">{{ .Description }}</h2>
               {{ end }}

               <span class="meta"> Posted on {{ dateFormat .Site.Params.DateForm .Date }}
                 {{ if isset .Params "categories" }}
                    <br />
                    {{ partial "categories.html" . }}
                 {{ end }}

                 {{ if isset .Params "tags" }}
                    <br />
                    {{ partial "tags.html" . }}
                 {{ end }}
               </span>
             </div>
           </div>
        </div>
      </div>
